<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <main class="fs-container">
        <section class="fs-row">
            <article class="fs-col-6">fs-col-6</article>
            <article class="fs-col-6">fs-col-6</article>
        </section>
        <section class="fs-row">
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-2">fs-col-2</article>
            <article class="fs-col-3">fs-col-3</article>
            <article class="fs-col-3">fs-col-5</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
        </section>
        <section class="fs-row">
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
            <article class="fs-col-1">fs-col-1</article>
        </section>
        <section class="fs-row">
            <article class="fs-col-4">fs-col-4</article>
            <article class="fs-col-4">fs-col-4</article>
            <article class="fs-col-4">fs-col-4</article>
        </section>
        <h3>NESTED</h3>
        <section class="fs-row">
            <article class="fs-col-4">fs-col-4</article>
            <article class="fs-col-4">fs-col-4</article>
            <article class="fs-col-4">
                <div class="fs-row">
                    <div class="fs-col-6">fs-col-6</div>
                    <div class="fs-col-6">fs-col-6</div>
                </div>
            </article>
        </section>
        <h3>NO PADDING</h3>
        <section class="fs-row no-padding">
            <article class="fs-col-6"><div class="fake">fs-col-6</div></article>
            <article class="fs-col-6"><div class="fake">fs-col-6</div></article>
        </section>
    </main>
</body>
</html>