$grid-columns: 12 !default;

$grid-breakpoints: (
        xs: 0,
        sm: 768px,
        lg: 1200px
)!default;

$container-max-widths: (
        sm: 720px,
        lg: 1140px
)!default;

$max-width: 1440px!default;
$grid-gutter-width: 10px!default;

:export {
  @each $key, $value in $grid-breakpoints {
    #{$key} : map-get($grid-breakpoints, $key);
  }
}

