@import "~normalize.css";
@import "variables";
@import "./grid/index";

* {
  box-sizing: border-box;
}

.fake {
  background-color: purple;
}

.fs-row.no-padding {
  margin-right: 0;
  margin-left: 0;

  & > [class^="fs-col-"],
  & > [class*=" fs-col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}