@import "breakpoints";
@import "grid";

.fs-container {
  @include make-cont((v : $max-width));
  background-color: tomato;
}

.no-padding {
  .fs-row {
    margin: 0;
    [class*="fs-col"] {
      padding: 0;
    }
  }
}

.fs-row {
  @include make-row;
  background-color: cyan;
  @for $i from 1 through 12 {
    .fs-col-#{($i)} {
      @include make-cols(12, 12, $i);
      width: 100%;
      position: relative;
    }
  }
}